#!/bin/bash

# Guide:
#
# 1. Copy this file to .env
#
#    cp .env-sample .env
#
# 2. Fill the blanks

export NODE_ENV=development
export PORT=9000
export LOG_LEVEL=info
export API_KEY=secret

echo "Environment variables set!"
